<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8"/>
        <title>
            Proyecto Django LP3
        </title>

        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>

    </head>
    <body>
        <header>
            <div id= "logotipo">
                <img src={% static 'images/logodjango2.png'%}/>
                <h1>
                    Práctica Web LP3
                </h1>
            </div>
        </header>

        <nav>
            <ul>
                <li>
                    <a href= "/inicio">Inicio</a>
                </li>
                <li>
                    <a href= "/saludo">Mensaje de Saludo</a>
                </li>
                <li>
                    <a href= "/integrantes">Mostrar Integrantes</a>
                </li>   
            </ul>
        </nav>

        <div class="barra">
            <span class="esquina-izquierda"></span>
            <span class="relleno-barra"></span>
            <span class="esquina-derecha"></span>
            
        </div>


        <div id="content">
            <div class="box">

            {% block content %}
                <strong>
                    Contenido de emergencia
                </strong>
            {% endblock content %}
            </div>
        </div>
        <footer>
            Práctica Proyecto Django  &copy; Team Equipo Rápido
        </footer>
    </body>
</html>
